.menu--wrapper {
  width: 98%;
  border-radius: 5px;
  margin: 12px;
  padding: 10px;
  background-color: rgb(214, 214, 214);
}
.menu--wrapper .menu--title {
  text-align: center;
  color: black;
  margin: 20px 0;
}
.menu--wrapper .menu--title span {
  font-family: mv boli;
  text-decoration: underline;
  color: rgb(14, 132, 14);
}
.menu--wrapper .menu--container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.menu--container .menu--card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 250px;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 2px 2px 2px rgba(14, 250, 14, 0.5);
  /* margin: 15px; */
}
.menu--container .menu--card .card--image {
  height: 50%;
  width: 99%;
  overflow: hidden;
  background: black;
}
.menu--container .menu--card .card--image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.5s ease;
}
.menu--container .menu--card .card--image:hover > img {
  opacity: 0.5;
  transform: scale(1.1);
}
/*  */
.menu--card .card--image .favorite {
  position: absolute;
  right: 10px;
  top: 20px;
  font-size: 20px;
  /* color: black; */
  z-index: 5;
  transition: 0.3s;
  opacity: 0;
}

.menu--card:hover .card--image .favorite {
  transform: translateX(-10px);
  opacity: 1;
}
.menu--card .card--image .favorite:hover {
  cursor: pointer;
  color: rgb(14, 250, 14);
}
.menu--card .menu--card--text {
  text-align: center;
  height: 180px;
}
.menu--card .menu--card--text .food--name {
  color: rgb(14, 132, 14);
  margin: 5px 0;
  font-size: 18px;
  font-weight: 700;
}
.menu--card .menu--card--text .food--description {
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
}
.menu--card .food--rating {
  color: rgb(14, 132, 14);
  cursor: pointer;
  margin-top: -20px;
  margin-bottom: 10px;
}
@media screen and (max-width: 480px) {
  .menu--wrapper {
  width: 100%;
  border-radius: 5px;
  margin: 5px 0;
  padding: 5px;
}
.menu--wrapper .menu--title {
  margin: 10px 0;
  font-size: 20px;
}

.menu--wrapper .menu--container {
  display: flex;
  /* flex-wrap:  nowrap; */
  gap: 10px;
  overflow-x: scroll;
}
.menu--container .menu--card {
  height: 230px;
  width: 150px;
  padding: 2px;
}


/*  */
.menu--card .card--image .favorite {
  position: absolute;
  right: 8px;
  top: 10px;
  font-size: 18px;
  z-index: 5;
  opacity: 1;
  font-size: 15px;
}
.menu--card:hover .card--image .favorite {
  transform: translateX(0px);
}
.menu--card .menu--card--text {
  text-align: center;
  height: 100px;
}
.menu--card .menu--card--text .food--name {
  margin: 3px 0;
  font-size: 13px;
}
.menu--card .menu--card--text .food--description {
  font-size: 11px;
  font-weight: 400;
  margin-top: 0px;
}
.menu--card .menu--card--text .food--price {
  font-size: 11px;
}
.menu--card .food--rating {
  color: rgb(14, 132, 14);
  cursor: pointer;
  margin-top: 12px;
  margin-bottom: 5px;
  font-size: 12px;
}
}